body{
  background-color: #9f9fff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: #444;  
}
.app-heading{
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
.app-box{
  margin-top: 0.3rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.input-textbox{
	height: 70vh;
  width: 90vw;
  padding: 15px;
  background-color: #d2d0ef;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  color: #444;    
}
.output-box{
  height: 70vh;
  width: 90vw;  
  padding: 15px;
  background-color: #d2d0ef;
  overflow: auto;
}
/* Large screen width query ----------- */
@media only screen 
and (min-width : 1000px){
  .input-textbox{
    width: 40vw;
    height: 83vh;
  }
  .output-box{
    width: 50vw;
    height: 83vh;
  }
}